@import "themes/mocha.css";

* {
  font-family: Geist Mono Nerd Font, FontAwesome, Roboto;
  font-size: 16px;
  font-weight: bold;
  color: @text;
  margin: 2px;
}

window#waybar {
  border-radius: 8px;
  background-color: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  background-color: @palette;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @palette;
  color: @text;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#battery {
  color: @text;
  background-color: @palette;
  border-radius: 8px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #8fbcbb;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 17px;
}

#battery.charging {
  font-size: 17px;
  padding-right: 12px;
  padding-left: 12px;
}

#battery.full,
#battery.plugged {
  padding-right: 12px;
  padding-left: 12px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: rgb(60, 129, 106);
  border-radius: 10px;
}

#memory {
  background-color: #376b72;
  border-radius: 10px;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: @palette;
  color: @text;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 14px;
}

tooltip {
  font-family: Iosevka Nerd Font;
  border-radius: 8px;
  background-color: @palette;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  padding: 5px;
  background-color: @palette;
}

label:focus {
  background-color: @palette;
}

#network {
  background-color: @palette;
  color: #5e81ac;
  border-radius: 8px 0px 0px 8px;
  padding-left: 15px;
}

#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  color: #ffffff;
  border-radius: 6px;
  padding: 2px 10px;
  background-color: @palette;

  /* background-color: #175252; */
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

#custom-weather {
  font-family: Iosevka Nerd Font;
  font-size: 19px;
  color: #8a909e;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

#network.disconnected {
  background-color: @palette;
  color: #f53c3c;
}

#pulseaudio {
  background-color: @palette;
  color: @text;
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
  padding-right: 10px;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
  border-radius: 0px 8px 8px 0px;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-song_name {
  background-color: #212b43;
  font-size: 15px;
  padding-right: 10px;
  border-radius: 8px 8px 8px 8px;
  margin-right: 10px;
  padding-left: 10px;
}

#tray {
  background-color: @palette;
  color: @text;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #242933;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
#custom-powerOption {
  background-color: @palette;
  color: #ffffff;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 4px;
}

#custom-update {
  /*background-color: #3aff00;*/
  background-color: #fab387;
  color: #000000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-date {
  background-color: @palette;
  color: @text;
  border-radius: 10px;
  padding-left: 14px;
  padding-right: 10px;
}
