* {
    border-radius: 10px;
    border: none;
    padding: 2px;
}

window {
    font-size: 18px;
    font-family: "Nerd Font";
    background-color: rgba(50, 50, 50, 1);
    color: white;
    border-radius: 10px;
}

#text {
    padding-left: 14px;
}

#entry {
    padding: 0.25em;
}

#entry:selected {
    background-color: #bbccdd;
    background: white;
}

#text:selected {
    color: #333333;
}

#input {
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
    padding: 0.25em;
    margin: 2px;
}


